
<body>
    <!-- Fonts to support Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <!-- Icons to support Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <div id="root"></div>
  </body>

  <div class="card shadow">
    <h2>Shadow with 1 property</h2>
    <pre>box-shadow:
    0 7px 30px <span class="highlight">-10px</span> rgba(150,170,180,0.5);</pre>
  </div>