.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input-group-prepend{
  width: 80%;
  height: 5%;
  
  border-style: inset;
  border-color: rgb(135, 222, 215);


}

.recipeIngredients{
  width: 80%;
  height: 95%;
  
  border-style: inset;
  border-color: rgb(122, 230, 167);

}

.recipeSteps{
  width: 80%;
  height: 95%;
  
  border-style: inset;
  border-color: rgb(203, 255, 80);

}


.btnbtn-primarymb-2{
  
  margin: auto;
  display: block;
  border-style: outset;
  width: 80%;
  height: 95%;
  
  
}


